@{
    ViewData["Title"] = "TodoApp";
    @model TodoApp_Master.ViewModels.TaskHome;
    @*タスク表示とカレンダー表示を行うページ*@
}
@if(!@Model.LoginStatus){
    <body>
        <p>ログインが必要なページです</p>
        <a asp-controller="/Login" asp-action="Index">ログイン＆新規登録はこちらから</a>
    </body>

}
