@{
    ViewData["Title"] = "TodoApp";
    @*タスク表示とカレンダー表示を行うページ*@
}
<head>
    <meta charset='UTF-8' />
    <link href='~/lib/fullcalendar-5.11.3/lib/main.css' rel='stylesheet'>
    <script src='~/lib/fullcalendar-5.11.3/lib/main.js'></script>
    <script src='~/lib/jquery/dist/jquery.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
   
    @*カレンダー描画*@
    <script>
        var tasks = '@Url.Action("GetAllTasks")'
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    right: 'prev,next today',
                    center: 'title',
                    left: 'dayGridMonth,timeGridWeek,listMonth'
                },
                buttonText:{
                 today:'今月',
                 month:'月',
                 week:'週',
                 list:'リスト'
                },
                navLinks: true,
                businessHours: true,
                editable: true,
                locale: 'ja',
                events: '@Url.Action("GetAllTasks")',
                eventClick: function (info) {
                    alert('Event: ' + info.event.url);

                    // change the border color just for fun
                    info.el.style.borderColor = 'red';

                    window.location.href = info.event.url;
                }
            });
            calendar.render();
        });

    </script>

</head>

@if(ViewData["LoginStatus"] == null){
    <body>
        <p>ログインが必要なページです</p>
        <a asp-controller="/Login" asp-action="Index">ログイン＆新規登録はこちらから</a>
    </body>
}
else{
    <body>
        <header class="Home_header">
            <!-- サイドバーの開閉ボタン -->
            <div class="menu_btn" id="button">
                <button class="menu_btn_menu" type="button">
                </button>
            </div>
            <h1 class="title">Task Calender</h1>
        </header>

        <div class="today">
            <span class="Log">
                <script language="JavaScript" type="text/javascript">
                    // 日付けをつける
                    var today = new Date();
                    var year = today.getFullYear();
                    var month = today.getMonth() + 1;
                    var day = today.getDate();
                    document.write(year + "年" + month + "月" + day + "日");
                </script>
            </span>
            <p id="Realtime" class="realtime"></p>
        </div>

        <script language="JavaScript" type="text/javascript">
            function showClock() {
                let nowTime = new Date();
                let nowHour = nowTime.getHours();
                let nowMin = nowTime.getMinutes();
                let nowSec = nowTime.getSeconds();


                let msg = nowHour + "時" + nowMin + "分" + nowSec + "秒";
                document.getElementById("Realtime").innerHTML = msg;
            }
            setInterval('showClock()', 1000);
        </script>



        <!-- サイドメニュー領域 -->

        <div class="side-menu" id="side-menu">
            <b class="task_title">タスク一覧</b><br><br><br>
            @*タスクのリスト表示*@
            <form asp-action="Index" method="post">
            @foreach (var item in Model)
            {
                @*タスクが完了した場合のチェックボックス*@
                <input type="checkbox" class="checkbox_style" name="comp" value="@item.TaskId">
                <a asp-action="Index" asp-route-id="@item.TaskId" class="task_btn">
                    <div style="text-align:left">
                    タスク名:@item.TaskName<br>
                    タスク期限:@item.DeadLine.Date
                    </div>
                </a>
                <br>
                <br>
            }
            </form>

            <form id="f1" action="#">
                <p><input type="submit" value="+" onclick="showForm()" /></p>
                <div id="clicked">
                    <div>
                        <p>タスク名：&ensp;<input type="text" name="test"  value="task" id="addtask" /></p>
                    </div>
                    <div>
                        <p>開始日時：&ensp;<input type="datetime-local"/></p>
                    </div>
                    <div>
                        <p>終了日時：&ensp;<input type="datetime-local" /></p>
                    </div>
                    <div>
                        <p>コメント：&ensp;<input type="text" placeholder="100文字以内で入力してください" size=50 /></p>
                    </div>
                </div>
            </form>
            
        </div>
        
       

        <!-- サイドメニュー表示時の他領域を隠す用 -->
        <div class="hide-contents"></div>

        <main class="main-contents">
            <div id='calendar'></div>
        </main>


        <script type="text/javascript">
             function hideForm(){
                document.getElementById("clicked").style.display = "none";
            }
            function showForm() {
                document.getElementById("clicked").style.display = "block";
            }
            window.onload = function(){
                hideForm();
            };


            $(function () {

                var isOpenSideMenu = false;  // 現在サイドメニューを開いているか
                var durationSideMenu = 300;　// サイドメニュー開閉にかける時間
                var durationSideMenuContents = 100; // サイドメニュー項目変化にかける時間

                // サイドメニューを開く処理
                function showSideMenu() {

                    $(".side-menu").animate(
                        {
                            "left": "0px"
                        },
                        durationSideMenu
                    );
                    $(".hide-contents")
                        .css("display", "block")
                        .animate(
                            {
                                "opacity": "0.5"
                            },
                            durationSideMenu);
                    isOpenSideMenu = true;
                }

                // サイドメニューを閉じる処理
                function hideSideMenu() {

                    $(".side-menu").animate(
                        {
                            "left": "-300px"
                        },
                        durationSideMenu
                    );
                    $(".hide-contents").animate(
                        {
                            "opacity": "0"
                        },
                        durationSideMenu,
                        function () {
                            $(".hide-contents").css("display", "none");
                        });
                    isOpenSideMenu = false;
                    
                }

                // コンテンツを切り替える処理
                function changeContents(contentsClass) {
                    $(".main-contents .contents").css("display", "none");
                    $(".main-contents ." + contentsClass).css("display", "block");
                }

                // サイドメニューボタンをクリックした際のイベント登録
                $(".menu_btn").on("click", function () {
                    if (!isOpenSideMenu) {
                        showSideMenu();

                    } else {
                        hideSideMenu();
                    }
                });

                // 非表示領域をクリックした際のイベント登録
                $(".hide-contents").on("click",function(){
                  if (isOpenSideMenu) {
                       hideForm();
                       hideSideMenu();

                    } else {
                       showSideMenu();
                    }
                
                });


            });
        </script>

    </body>
}